{{> title }}
<div class="row">
    <a class="btn btn-primary user-menu" href="/workout/new">Create New Workout</a>
</div>
<div class="row">
    <a class="btn btn-primary user-menu" href="/workouts">Continue Last Workout</a>
</div>
{{> footer }}