{{> title }}
<div class="row">
    <a id="back" href="/home">< Back</a>
</div>
<br>
<h3 id="h3"></h3>
<br>
<div class="row">
    <ul id="workouts" class="list">
    </ul>
</div>
<div class="row">
    <a class="btn btn-primary user-menu" href="/workout/new">Create New Workout</a>
</div>
{{> footer }}
<script src="js/workouts.js"></script>
